@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("/yog21.jpg");
  background-color: #cccccc;
  height: 700px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  position: relative;
  top: 30%;

  width: 100%;
  font-family: "Mochiy Pop P One", sans-serif;

  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  width: 100%;

  color: #db531d;
}
.hero-text h3 {
  margin-bottom: 5px;
  position: relative;

  font-size: 30px;

  width: 100%;
  color: azure;
}

.hero-text button {
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: none;
  width: 300px;
  color: white;
  border: 1px white solid;
}

.hero-text button:hover {
  background-color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: black;
}

.logo {
  position: relative;
  top: -720px;
  width: 180px;
  left: 0px;
}

.logo2 {
  position: relative;
  top: -700px;
  width: 160px;
  float: right;
}

.upcoming {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 200px;
  font-family: "Lexend Deca", sans-serif;
  top: -150px;
}

.events h1 {
  position: relative;
  align-items: center;
  width: 250px;
  left: 35%;
  top: -100px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.grid {
  display: grid;

  grid-template-columns: auto auto auto auto;
}

.gridel {
  background-color: rgb(112, 106, 106);
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 260px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 40px;

  transition: 0.1s ease-in;
}

.gridel:hover {
  transform: scale(1.1);
}

.gridel .gridimg {
  position: relative;
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

.gridel h2 {
  position: relative;
  width: 300px;
  background-color: rgb(32, 32, 32, 0.8);
  z-index: 1;
  color: #cccccc;
  padding: 15px;
  font-size: 20px;
  transition: 0.1s ease-in;
  height: 20px;
  top: -75px;
  margin: 10px;

  border-radius: 20px;
}
.gridel h3 {
  position: relative;
  width: 320px;
  background-color: #295e6dfb;
  z-index: 1;
  color: #ffffff;
  padding: 15px;
  transition: 0.1s ease-in;
  height: 120px;
  top: -205px;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  margin: 0px;
}

.gridel:hover h2 {
  top: -205px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.705);
  color: rgb(255, 255, 255);
}

.gridel:hover h3 {
  display: block;
}

.gridel .mode {
  position: relative;
  z-index: 1;
  width: 160px;
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  display: none;
  margin: 10px;
  text-align: center;
  top: -350px;
  background-color: rgb(99, 173, 55);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.gridel .dur {
  position: relative;
  z-index: 1;
  width: 160px;
  display: none;
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  margin: 10px;
  text-align: center;
  top: -350px;
  background-color: rgb(241, 158, 79);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gridel .status {
  position: relative;
  z-index: 1;
  width: 160px;
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  top: -265px;
  left: 160px;
  margin: 10px;
  text-align: center;

  background-color: rgb(55, 159, 173);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gridel .next {
  position: relative;
  width: 100px;
  top: -440px;
  left: 240px;
  z-index: 2;
  display: none;
}

.gridel .next:hover {
  transform: scale(1.1);
}

.gridel:hover .mode {
  display: block;
}

.gridel:hover .next {
  display: block;
  z-index: 1;
}
.gridel:hover .dur {
  display: block;
}

.gridel:hover .status {
  display: block;
  top: -350px;
  left: 0px;
}

.upcoming h1 {
  text-align: center;
  width: 400px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  font-family: "Lexend Deca", sans-serif;
  background-color: rgb(207, 95, 51);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.upcoming h2 {
  padding: 5px;
  text-align: center;

  width: 400px;

  font-size: 20px;
  background-color: rgb(202, 183, 175);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.upcoming button {
  position: relative;
  left: 30px;
  padding: 10px;
  height: 50px;
  background: none;
  border-radius: 10px;
  border: 2px solid coral;
}

.award h1 {
  position: relative;
  align-items: center;
  width: 700px;
  left: 35%;
  margin: 20px;
  top: 0px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.gride2 {
  background: none;
  position: relative;
  border-radius: 20px;

  width: 350px;
  font-family: "Lexend Deca", sans-serif;
  height: 200px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 40px;

  transition: 0.1s ease-in;
}

.gride2 img {
  position: relative;
  width: 20rem;
}

.gride2 .n2 {
  position: relative;
  width: 10rem;
}

.gride2 button {
  position: relative;
  padding: 20px;
  background: none;
  top: 150px;
  border: 3px red solid;
  border-radius: 40px;
}

.gride2 h2 {
  position: relative;

  background: none;
  font-size: 20px;
  margin: 4px;
  width: 90%;
  font-family: "Lexend Deca", sans-serif;

  text-align: center;
}

.review h1 {
  position: relative;
  align-items: center;
  width: 700px;
  left: 35%;
  margin: 50px;
  top: 150px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.gridr {
  background: rgb(230, 230, 230);
  position: relative;
  border-radius: 20px;
  top: 150px;
  width: 300px;
  height: 410px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: 0.1s ease-in;
}

.gridr .rda {
  position: relative;
  width: 300px;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.gridr .rda4 {
  position: relative;
  width: 300px;
  height: inherit;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.gridr h2 {
  padding: 10px;
  font-size: 16px;
  top: -5px;
  position: relative;
  font-family: "Lexend Deca", sans-serif;
}
.gridr h3 {
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  padding-left: 10px;
  background-color: rgb(119, 119, 119);
  top: -10px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

.gridr h4 {
  font-size: 16px;
  font-weight: bolder;
  padding-left: 10px;
  top: -10px;
  position: relative;
  font-family: "Lexend Deca", sans-serif;
}

.gridr button {
  position: relative;
  top: -240px;
  padding: 20px;
  width: 100%;
  background: rgb(69, 161, 247);
  border: none;
  font-family: "Lexend Deca", sans-serif;

  color: rgb(255, 255, 255);
  font-size: 30px;
}

.gridr:hover {
  transform: scale(1.02);
}

.gridr button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(231, 231, 231);
}

.taskbar .home {
  position: relative;
  width: 100px;
  padding: 10px;
  background: none;
  margin: 10px;
  border: none;
  font-size: 20px;
  border: 2px rgb(34, 14, 9) double;
  color: rgb(0, 0, 0);
  font-family: "Lexend Deca";
  font-weight: bolder;
  top: 35px;
  left: 12%;
}
.taskbar .tb {
  position: relative;
  width: 100px;
  padding: 10px;
  background: none;
  margin: 10px;
  border: none;
  font-size: 20px;
  font-family: "Lexend Deca";
  font-weight: bolder;
  border-bottom: 2px tomato double;
  color: rgb(0, 0, 0);

  top: 35px;
  left: 12%;
}
.taskbar button:hover {
  transform: scale(1.1);
}

.taskbar .trans {
  position: relative;
  width: 160px;
  padding: 5px;
  margin: 10px;
  top: -40px;
  left: 77%;
  border: orangered 2px solid;
}

.menub {
  display: none;
}

.gallery h1 {
  position: relative;
  align-items: center;
  width: 230px;
  left: 45%;
  margin: 20px;
  top: 140px;
  padding: 10px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.gridg {
  background: rgb(230, 230, 230);
  position: relative;

  top: 150px;
  width: 350px;
  height: 200px;

  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: 0.1s ease-in;
}

.gridg .imgo {
  position: relative;
  width: inherit;
  height: inherit;
}

.gridg .nx {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.5);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  top: -205px;
}

.gridg .nx:hover {
  transform: scale(1s);
  color: grey;
}

.teacher h1 {
  position: relative;
  align-items: center;
  width: 170px;
  left: 45%;
  margin: 20px;
  top: 140px;
  padding: 10px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.gridi {
  background: rgb(230, 230, 230);
  position: relative;
  border-radius: 20px;
  top: 150px;
  width: 700px;
  height: 410px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: 0.1s ease-in;
}

.gridi img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.gridi h2 {
  position: relative;
  width: 400px;
  margin: 20px;
  left: 190px;
  top: -170px;
  font-size: 30px;
  font-family: "Lexend Deca";
}

.grida {
  display: grid;
  width: 400px;
  grid-template-columns: auto auto auto;
}

.grida .degv {
  position: relative;
  width: 440px;
  height: 20px;
  margin: 5px;
  left: 200px;
  top: -190px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  color: white;

  width: 120px;
  padding: 8px;

  font-family: "Lexend Deca";
}

.grida .view {
  position: relative;
  width: 440px;
  background-color: rgba(92, 194, 122, 0.767);
  height: 20px;
  margin: 5px;
  font-family: "Lexend Deca";
  left: 200px;
  font-size: 10px;
  top: -190px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  font-size: 20px;

  border-radius: 10px;
  color: rgb(15, 14, 14);

  width: 120px;
  padding: 8px;
}
.I {
  background-color: #dbd56e;
}

.II {
  background-color: #88ab75;
}

.III {
  background-color: #2d93ad;
}

.IV {
  background-color: #7d7c84;
}

.V {
  background-color: #de8f6e;
}

.teacher h4 {
  position: relative;
  margin: 20px;
  font-family: "Lexend Deca";
  font-size: 20px;
  top: -200px;
}

.contact h1 {
  position: relative;
  align-items: center;
  width: 170px;
  left: 45%;
  margin: 20px;
  top: 140px;
  padding: 10px;
  border-bottom: rgb(248, 45, 45) 4px solid;
}

.gridc {
  background: rgb(230, 230, 230);
  position: relative;
  border-radius: 20px;
  top: 150px;
  width: 300px;
  background-color: coral;
  height: 70px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: 0.1s ease-in;
}

.gridc img {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 8px;
  left: -30px;
  top: -23px;

  border-radius: 50%;
}

.gridc h2 {
  position: relative;
  left: 60px;
  font-size: 20px;
  font-family: "Lexend Deca";
  top: 23px;
}

.close {
  display: none;
}

.footer {
  background-color: rgb(65, 65, 65);
  position: relative;
  top: 200px;
  margin-bottom: -70px;
}

.gridf {
  position: relative;

  top: 0px;
  width: 500px;
  font-family: "Lexend Deca";
  height: 150px;
  margin: 20px;

  left: 50px;

  transition: 0.1s ease-in;
}

.gridf .footlog {
  position: relative;
  width: 200px;
  top: -40px;
}

.gridf h2 {
  position: relative;
  top: -180px;
  color: white;
  font-size: 30px;
  left: 200px;
}
.gridf h3 {
  position: relative;
  top: -180px;
  color: gray;
  font-size: 20px;
  left: 200px;
}
.gridf h4 {
  position: relative;
  top: -180px;
  color: #edecf1;
  font-size: 20px;
  left: 200px;
}

.gridf .yash {
  position: relative;
  background: none;
  font-size: 20px;
  border: 2px orangered dotted;
  color: #cccccc;
}

.quick {
  position: relative;
  width: 100px;
  top: 20px;
}
.gridf h5 {
  position: relative;
  top: -80px;
  left: 110px;
  font-size: 30px;
  color: #cccccc;
}

.butf {
  position: relative;
  top: -80px;
  left: 110px;
  padding: 5px;
  margin: 5px;
  width: 440px;
  background: none;
  border: 2px dotted cornflowerblue;
}

.gridf .tbf {
  position: relative;
  padding: 5px;
  background: none;
  color: #cccccc;
  border: none;
}
/*

MOBILE


███╗░░░███╗░█████╗░██████╗░██╗██╗░░░░░███████╗
████╗░████║██╔══██╗██╔══██╗██║██║░░░░░██╔════╝
██╔████╔██║██║░░██║██████╦╝██║██║░░░░░█████╗░░
██║╚██╔╝██║██║░░██║██╔══██╗██║██║░░░░░██╔══╝░░
██║░╚═╝░██║╚█████╔╝██████╦╝██║███████╗███████╗
╚═╝░░░░░╚═╝░╚════╝░╚═════╝░╚═╝╚══════╝╚══════╝

MOBILE*/

@media only screen and (max-width: 600px) {
  .footer {
    background-color: rgb(65, 65, 65);
    position: relative;
    top: 200px;
    height: 400px;

    width: 410px;
    margin-bottom: -70px;
  }
  .gridf {
    position: relative;

    top: 0px;
    width: 150px;
    font-family: "Lexend Deca";
    height: 150px;
    margin: 20px;

    left: 50px;

    transition: 0.1s ease-in;
  }

  .gridf .footlog {
    position: relative;
    width: 150px;
    top: -20px;
    left: -50px;
  }

  .gridf h2 {
    position: relative;
    top: -140px;
    left: 100px;
    color: white;
    font-size: 20px;

    width: 200px;
  }
  .gridf h3 {
    position: relative;
    top: -140px;
    left: 100px;
    color: gray;
    font-size: 15px;

    width: 150px;
  }
  .gridf h4 {
    position: relative;
    top: -140px;
    left: 100px;
    color: #edecf1;
    font-size: 15px;

    width: 150px;
  }

  .gridf .yash {
    position: relative;
    background: none;
    font-size: 20px;
    border: 2px orangered dotted;
    color: #cccccc;
  }

  .quick {
    position: relative;
    width: 100px;
    top: 20px;
    left: -20px;
  }
  .gridf h5 {
    position: relative;
    top: -80px;
    left: 100px;
    font-size: 20px;
    width: 150px;
    color: #cccccc;
  }

  .butf {
    position: relative;
    top: -80px;
    left: 90px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    background: none;
    border: 2px dotted cornflowerblue;
  }

  .gridf .tbf {
    position: relative;

    background: none;

    color: #cccccc;
    border: none;
  }
  .contact h1 {
    position: relative;
    align-items: center;
    width: 120px;
    font-size: 20px;
    left: 27%;
    margin: 20px;
    top: 150px;
    padding: 10px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }

  .contact h2 {
    position: relative;

    width: 250px;
  }
  .gridc {
    position: relative;
    margin-bottom: -10px;
  }
  .close {
    position: relative;
    display: block;
    left: 6px;
    font-size: 25px;
    border: 2px rgb(221, 73, 15) solid;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;

    background: none;
  }

  .close:hover {
    background-color: cadetblue;
  }
  .teacher h4 {
    position: relative;
    margin: 20px;
    font-family: "Lexend Deca";
    width: 170px;
    left: 160px;
    font-size: 15px;
    top: -400px;
  }

  .teacher button {
    position: relative;
    padding: 5px;
    top: -180px;
    left: 50px;
    background: none;
    border-radius: 20px;
    border: black 2px solid;
  }
  .grida {
    display: grid;
    width: 100px;
    grid-template-columns: auto;
  }

  .grida .degv {
    position: relative;
    width: 440px;
    height: 20px;
    margin: 5px;
    left: 20px;
    top: -80px;
    font-size: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    color: white;

    width: 120px;
    padding: 8px;

    font-family: "Lexend Deca";
  }

  .grida .view {
    position: relative;
    width: 440px;
    height: 20px;
    margin: 5px;
    left: 20px;
    top: 100px;
    font-size: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    color: white;

    width: 120px;
    padding: 8px;

    font-family: "Lexend Deca";
  }

  .gridi img {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .gridi h2 {
    position: relative;
    width: 210px;
    margin: 20px;
    left: 115px;
    top: -110px;
    font-size: 20px;
    font-family: "Lexend Deca";
  }
  .gallery h1 {
    position: relative;
    align-items: center;
    width: 150px;
    font-size: 20px;
    left: 27%;
    margin: 20px;
    top: -100px;
    padding: 10px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }
  .teacher h1 {
    position: relative;
    align-items: center;
    width: 150px;
    font-size: 20px;
    left: 27%;
    margin: 20px;
    top: 90px;
    padding: 10px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }

  .gridi {
    background: rgb(230, 230, 230);
    position: relative;
    border-radius: 20px;
    top: 150px;
    width: 370px;
    height: 600px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    transition: 0.1s ease-in;
  }
  .gridg {
    background: rgb(230, 230, 230);
    position: relative;

    top: 10px;
    box-shadow: 1px 1px -1px 1px;

    width: 400px;
    height: 200px;

    margin-top: 0px;
    margin-bottom: 0px;

    transition: 0.1s ease-in;
  }

  .gridg .imgo {
    position: relative;
    width: inherit;
    height: inherit;
  }

  .gridg .nx {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.5);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    top: -205px;
  }

  .gridg .nx:hover {
    color: grey;
  }
  .menub {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    z-index: 5;
    left: 194px;
    top: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: auto;
    margin: 2%;

    align-items: center;
  }

  .gridel {
    background-color: rgb(112, 106, 106);
    position: relative;
    border-radius: 20px;

    width: 300px;

    height: 200px;
  }

  .gridel:hover {
    transform: scale(1.05);
  }

  .gridel .gridimg {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .gridel h2 {
    position: relative;
    width: 250px;
    font-size: 15px;
    background-color: rgb(32, 32, 32, 0.8);
    z-index: 1;
    color: #cccccc;
    padding: 15px;
    height: 20px;
    top: -75px;
    margin: 10px;

    border-radius: 20px;
  }

  .gridel:hover h2 {
    top: -205px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
    width: 270px;
    background-color: rgba(98, 189, 231, 0.705);
    color: rgb(0, 0, 0);
  }
  .gridel h3 {
    width: 270px;
    height: 121px;
  }

  .gridel .mode {
    position: relative;
    z-index: 1;
    width: 160px;
    border-radius: 10px;
    padding: 5px;
    height: 20px;
    margin: 10px;
    text-align: center;
    top: -350px;
    background-color: rgb(99, 173, 55);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .gridel .dur {
    position: relative;
    z-index: 1;
    width: 160px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    height: 20px;
    margin: 10px;
    top: -350px;
    background-color: chocolate;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .gridel .status {
    position: relative;
    z-index: 1;
    width: 150px;
    left: 0px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    height: 20px;

    margin: 10px;
    top: -265px;
    background-color: rgb(30, 210, 99);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .upcoming button {
    position: relative;
    left: 10px;
    padding: 10px;
    height: 50px;
    width: 150px;
    background: none;
    border-radius: 10px;
    border: 2px solid coral;
  }

  .upcoming h1 {
    width: 100%;
  }

  .upcoming h2 {
    width: 100%;
  }
  .gridel:hover .status {
    display: block;
    top: -350px;
    left: 0px;
  }

  .logo {
    position: relative;
    top: -720px;
    width: 120px;
    margin: 20px;
    left: 0px;
  }

  .logo2 {
    position: relative;
    top: -710px;
    width: 110px;
    margin: 20px;
    float: right;
  }

  .events h1 {
    position: relative;
    align-items: center;
    width: 190px;
    left: 20%;
    top: -100px;
    font-size: 20px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }
  .hero-text {
    position: relative;
    top: 300px;
  }
  .hero-text h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    width: 100%;

    color: #fad585;
  }
  .hero-text h3 {
    margin-bottom: 5px;
    position: relative;

    font-size: 20px;

    width: 100%;
    color: azure;
  }

  .hero-text button {
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    background: none;
    width: 300px;
    color: white;
    border: 1px white solid;
  }

  .gridel .next {
    position: relative;
    width: 100px;
    top: -440px;
    left: 190px;
    z-index: 2;
    display: none;
  }

  .upcoming {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 94%;
    height: 200px;
    top: -150px;
  }

  .award h1 {
    position: relative;
    align-items: center;
    width: 250px;
    left: 10%;
    font-size: 20px;
    margin: 20px;
    top: 0px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }

  .gride2 {
    margin-bottom: 200px;
  }

  .review h1 {
    position: relative;
    align-items: center;
    width: 250px;
    font-size: 20px;
    left: 5%;
    margin: 10px;
    top: -150px;
    border-bottom: rgb(248, 45, 45) 4px solid;
  }

  .gridr {
    position: relative;
    top: -100px;
  }

  .taskbar {
    position: relative;
    width: 370px;
    left: 5%;
    top: -16px;
    height: 600px;
    display: none;
    transition: 2s ease-in;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
    animation: menu 1s;
    background-color: rgb(104, 104, 104, 0.9);
  }

  @keyframes menu {
    0% {
      top: -500px;
    }
    100% {
      top: 0px;
    }
  }

  .taskbar .home {
    position: relative;
    left: 70px;
    width: 200px;
    color: white;
  }

  .taskbar .tb {
    position: relative;
    left: 70px;
    width: 200px;
    color: white;
  }

  .taskbar .trans {
    position: relative;
    top: 40px;
    left: 90px;
  }
}
